[default]
SERVER_PORT = 3091
SERVICE_VERSION = 1.0.0.0
RESPONSE_ENCODING = utf-8
HERE_APP_ID =
HERE_APP_CODE =
GOOGLE_API_APP_KEY =
LOG_FILE_NAME = geocode.log

[test]
SERVER_PORT = 3091
SERVICE_VERSION = 1.0.0.0
RESPONSE_ENCODING = utf-8
HERE_APP_ID =
HERE_APP_CODE =
GOOGLE_API_APP_KEY =
LOG_FILE_NAME = geocode.log
